.mainBox{
    margin: auto;
    height: 400px;
    width: 60%;
    background-color: rgb(43, 41, 41);
    display: flex;
}
.box{
    padding: 30px;
    text-align: left;
    color: white;
}
.box img{
    margin-top: 10%;
    width: 100px;
    height: auto;
}
.smallText{
    font-size: 10px;
    margin-top: 10%;
}
.clipBox{
    border-bottom:1px solid rgb(78, 75, 75) ;
}

.copy{
    cursor: pointer;
              width: 1.313rem;
}
.icons{
    margin-left: 13%;
    color: orangered;
}
.social{
    text-align: center;
    display: flex;
    width: 100px;
    height: 100px;
}
.social-media-container {
    flex: 2 1 0;
    width:60px;
    height: auto;
  }
  .social-media-container img{
    width: 30px;
    height: auto;
    border-radius: 50%;
  }
  .social-media-link{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }


.social-media-icon{
    border-radius: 150px;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-left: 5%;
}
@media only screen and (max-width: 600px) {
    .mainBox{
        text-align: left;
        margin: auto;
        height: 400px;
        width: 100%;
        background-color: rgb(43, 41, 41);
        color: rgb(19, 8, 243);
    }
    .box img{
            display: none;
    }

  }